/* from  Frontend Mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* pre config  */

* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 1rem;
    font-family: 'Inter', sans-serif;
}

.img_desktop,
.img_mobile {
    width: 100%;
}

p {
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}



/* ======  code starting  ======  */

/* Mobile's Version*/
.img_desktop {
    display: none;
}

header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 80px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0px 1em;
}

.news {
    background-color: black;
}

span {
    color: hsl(35, 77%, 62%);
}

h3 {
    color: white;
}




/*test*/
.t1 {
    border: 2px solid red;
}

.t2 {
    border: 2px solid blue;
}

.t3 {
    border: 2px solid lime;
}

/* Desktop's Version*/
@media (min-width: 530px) {

    /* Desktop's Version*/
    .img_mobile {
        display: none;
    }

    .img_desktop {
        display: block;
    }
}